body {
    margin: 0;
    font-size: 16px;
    font-family: monospace;
    background-color: #add8e6
}

.blur-visual {
    position: absolute;
    clip: rect(0 0 0 0);
}

.hidden {
    visibility: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.topper {
    font-size: 18px;
    color: white;
    background-color: #110945;
}

.main-header {
    padding: 1em;
    font-size: 15px;
    text-align: center;
}

.main-header-info {
    float: left;
    text-align: left;
}

.main-header-creator {
    float: right;
    text-align: right;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding: 20px;
}

.main-container-item {
    margin: 20px;
}

.main-container-item-table {
    flex-grow: 3;
    min-width: 50%;
}

.main-container-item-left-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-container-item-left-col-item {
    flex-basis: 220px;
}

.content-section {
    padding: 0 0 10px;
    background-color: #ffffff;
}

.content-section-header {
    position: relative;
    height: 2.8em;
    margin: 0 0 10px;
    font-weight: normal;
    text-align: center;
}

.content-section-header-text {
    display: inline-block;
    margin-top: 0.8em;
}

.content-section-graph {
    position: relative;
    margin-bottom: 20px;
}

.content-section-val {
    margin-top: 20px;
    padding-bottom: 25px;
}

.content-section-header-val {
    margin-bottom: 25px;
}

.content-section-header {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.content-section-header-table {
    margin: 0;
}

.result-graph-container {
    position: relative;
    text-align: center;
    min-height: 220px;
}

.graph-canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.input-form {
    text-align: center;
}

.input-form-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 15px auto;
}

.input-form-label {
    display: inline-block;
    min-width: 30px;
    margin-right: 0;
    color: #ffffff;
    background-color: #b8860b;
}

.input-form-pane {
    flex-grow: 1;
    min-width: 5px;
}

.input-form-button-list-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 5px;
}

.input-form-button-list-r-item {
    display: inline;
}

.input-form-pane-buttons-container {
    margin-top: 15px;
}

.input-form-pane-buttons-button {
    height: 27px;
    width: 90px;
    font-family: monospace;
    color: #ffffff;
    background-color: #b8860b;
    border: none;
}

.input-form-pane-buttons-button:hover {
    background-color: #dddddd;
}

.input-form-pane-buttons-button-submit {
    margin-right: 10px;
}

.result-table-container {
    flex-grow: 1;
    overflow-y: scroll;
    height: 220px;
}

.result-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.result-table tr {
    height: 2.5em;
}

.result-table-header {
    background-color: #6495ed;
}

.result-table-coords-col {
    width: 10%;
}

.result-table-time-col {
    width: 25%
}

